@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #050c1a;
  --text-primary: #f8fafc;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #d4af37;
  color: #050c1a;
}